<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="a0509">
  <!-- dsr2 description for a0509 -->
  <xacro:arg name="model" default="a0509" />
  <xacro:arg name="color" default="blue" />
  <xacro:include filename="$(find dsr_description2)/xacro/a0509.urdf.xacro" />

  <!-- zed2i description -->
  <!-- camera_name is not used for dynamic naming here - unnecessary since
       instance disambiguation is handled at the TF tree naming level.
       pmp_a0509_moveit_config uses explicit zed_camera_center in SRDF. ZED node
       itself is disambiguated by its own camera_name arg in perception.launch.py.
       zed wrapper's link names have no effect, since we launch it with
       publish_urdf/publish_tf false and publish these links ourselves via rsp -->
  <xacro:arg name="camera_name" default="zed" />
  <xacro:arg name="camera_model" default="zed2i" />
  <xacro:include filename="$(find zed_wrapper)/urdf/zed_descr.urdf.xacro" />

  <!-- rg2_description for the OnRobot RG2 -->
  <!-- prefix is not used for dynamic naming here - unnecessary since
       instance disambiguation is handled at the TF tree naming level. -->
  <xacro:arg name="rg2_use_fake_hardware" default="false" />
  <xacro:arg name="rg2_ip_address" default="192.168.1.1" />
  <xacro:arg name="rg2_port" default="502" />
  <xacro:arg name="rg2_poll_rate_hz" default="20.0" />
  <xacro:include filename="$(find rg2_description)/urdf/rg2_macro.xacro" />

  <!-- join the ZED's camera_link (threaded screw hole) directly to link_6.
       zed_descr.urdf.xacro names this link `${camera_name}_camera_link` -
       track the arg rather than hardcoding 'zed' - even though camera_name
       is fixed here -->
  <!-- simulated 3d printed bracket with origin offset (rough estimation) -->
  <joint name="camera_mount" type="fixed">
    <origin xyz="0 -0.07 -0.01" rpy="0 -1.57 1.57" />
    <parent link="link_6" />
    <child link="$(arg camera_name)_camera_link" />
  </joint>

  <!-- join RG2 to link_6 -->
  <xacro:rg2
    use_fake_hardware="$(arg rg2_use_fake_hardware)"
    ip_address="$(arg rg2_ip_address)"
    port="$(arg rg2_port)"
    poll_rate_hz="$(arg rg2_poll_rate_hz)" />

  <joint name="gripper_mount" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 -1.57079632679" />
    <parent link="link_6" />
    <child link="onrobot_base_link" />
  </joint>
</robot>
